[submodule "Figment"]
	path = Figment
	url = git://github.com/mausch/Figment.git
[submodule "FsFormlets"]
	path = FsFormlets
	url = git://github.com/mausch/FsFormlets.git
[submodule "FsConneg"]
	path = FsConneg
	url = git://github.com/mausch/FsConneg.git
